---
layout: default
---

{% for post in site.posts %}
  <div class="post-block">
    {% if post.project_name %}
    <div class="post-header-image">
      <img style="transform: {{ post.translate }};" src="/images/{{ post.project_name }}.png"> 
    </div>
    {% endif %}
    <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
    <h2>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    {% include description.html project_name=post.project_name project_description=post.project_description project_tech=post.project_tech %}
    <div class="post-text">{{ post.content }}</div>
  </div>
{% endfor %}
